clients/ws/src/main/resources/wsdl/chassisCapabilityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ChassisCapabilityService" targetNamespace="http:/www.opennaas.org/ws" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http:/www.opennaas.org/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http:/www.opennaas.org/ws" xmlns:tns="http:/www.opennaas.org/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addInterfacesToLogicalRouter" type="tns:addInterfacesToLogicalRouter"/>
<xs:element name="addInterfacesToLogicalRouterResponse" type="tns:addInterfacesToLogicalRouterResponse"/>
<xs:element name="createLogicalRouter" type="tns:createLogicalRouter"/>
<xs:element name="createLogicalRouterResponse" type="tns:createLogicalRouterResponse"/>
<xs:element name="createSubInterface" type="tns:createSubInterface"/>
<xs:element name="createSubInterfaceResponse" type="tns:createSubInterfaceResponse"/>
<xs:element name="deleteLogicalRouter" type="tns:deleteLogicalRouter"/>
<xs:element name="deleteLogicalRouterResponse" type="tns:deleteLogicalRouterResponse"/>
<xs:element name="deleteSubInterface" type="tns:deleteSubInterface"/>
<xs:element name="deleteSubInterfaceResponse" type="tns:deleteSubInterfaceResponse"/>
<xs:element name="downPhysicalInterface" type="tns:downPhysicalInterface"/>
<xs:element name="downPhysicalInterfaceResponse" type="tns:downPhysicalInterfaceResponse"/>
<xs:element name="removeInterfacesFromLogicalRouter" type="tns:removeInterfacesFromLogicalRouter"/>
<xs:element name="removeInterfacesFromLogicalRouterResponse" type="tns:removeInterfacesFromLogicalRouterResponse"/>
<xs:element name="setEncapsulation" type="tns:setEncapsulation"/>
<xs:element name="setEncapsulationLabel" type="tns:setEncapsulationLabel"/>
<xs:element name="setEncapsulationLabelResponse" type="tns:setEncapsulationLabelResponse"/>
<xs:element name="setEncapsulationResponse" type="tns:setEncapsulationResponse"/>
<xs:element name="upPhysicalInterface" type="tns:upPhysicalInterface"/>
<xs:element name="upPhysicalInterfaceResponse" type="tns:upPhysicalInterfaceResponse"/>
<xs:complexType name="createLogicalRouter">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:computerSystem"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="computerSystem">
<xs:complexContent>
<xs:extension base="tns:system">
<xs:sequence>
<xs:element minOccurs="0" name="dedicated" type="tns:dedicated"/>
<xs:element minOccurs="0" name="nameFormat" type="tns:ComputerSystemNameFormatEnum"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="otherDedicatedDescriptions" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="powerManagementCapabilities" type="tns:ComputerSystemPowerManagementEnum"/>
<xs:element minOccurs="0" name="resetCapability" type="tns:resetCapability"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="system">
<xs:complexContent>
<xs:extension base="tns:enabledLogicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="creationClassName" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="identifyingDescriptions" nillable="true" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="otherIdentifyingInfo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="primaryOwnerContact" type="xs:string"/>
<xs:element minOccurs="0" name="primaryOwnerName" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="enabledLogicalElement">
<xs:complexContent>
<xs:extension base="tns:logicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="availableRequestedStates" type="tns:availableRequestedStates"/>
<xs:element minOccurs="0" name="enabledDefault" type="tns:enabledDefault"/>
<xs:element minOccurs="0" name="enabledState" type="tns:enabledState"/>
<xs:element minOccurs="0" name="otherEnabledState" type="xs:string"/>
<xs:element minOccurs="0" name="requestedState" type="tns:requestedState"/>
<xs:element minOccurs="0" name="timeOfLastStateChange" type="xs:dateTime"/>
<xs:element minOccurs="0" name="transitioningToState" type="tns:transitioningToState"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="logicalElement">
<xs:complexContent>
<xs:extension base="tns:managedSystemElement">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="managedSystemElement">
<xs:complexContent>
<xs:extension base="tns:managedElement">
<xs:sequence>
<xs:element minOccurs="0" name="communicationStatus" type="tns:communicationStatus"/>
<xs:element minOccurs="0" name="detailedStatus" type="tns:detailedStatus"/>
<xs:element minOccurs="0" name="healthState" type="tns:healthState"/>
<xs:element minOccurs="0" name="installDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="operatingStatus" type="tns:operatingStatus"/>
<xs:element minOccurs="0" name="operationalStatus" type="tns:operationalStatus"/>
<xs:element minOccurs="0" name="primaryStatus" type="tns:primaryStatus"/>
<xs:element minOccurs="0" name="status" type="tns:status"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="statusDescriptions" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="managedElement">
<xs:sequence>
<xs:element minOccurs="0" name="caption" type="xs:string"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="elementName" type="xs:string"/>
<xs:element minOccurs="0" name="instanceID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createLogicalRouterResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="information">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="version" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="capabilityDescriptor">
<xs:sequence>
<xs:element minOccurs="0" name="information" type="tns:information"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="capabilityProperty" type="tns:capabilityProperty"/>
<xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="capabilityProperty">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="value" type="xs:string"/>
</xs:complexType>
<xs:complexType name="setEncapsulationLabel">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:logicalPort"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logicalPort">
<xs:complexContent>
<xs:extension base="tns:logicalDevice">
<xs:sequence>
<xs:element name="maxSpeed" type="xs:long"/>
<xs:element minOccurs="0" name="otherPortType" type="xs:string"/>
<xs:element minOccurs="0" name="portType" type="tns:portType"/>
<xs:element name="requestedSpeed" type="xs:long"/>
<xs:element name="speed" type="xs:long"/>
<xs:element minOccurs="0" name="usageRestriction" type="tns:usageRestriction"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="logicalDevice">
<xs:complexContent>
<xs:extension base="tns:enabledLogicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="additionalAvailability" type="tns:additionalAvailability"/>
<xs:element minOccurs="0" name="availability" type="tns:availability"/>
<xs:element minOccurs="0" name="creationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="deviceID" type="xs:string"/>
<xs:element name="errorCleared" type="xs:boolean"/>
<xs:element minOccurs="0" name="errorDescription" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="identifyingDescriptions" nillable="true" type="xs:string"/>
<xs:element name="lastErrorCode" type="xs:long"/>
<xs:element name="maxQuiesceTime" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="otherIdentifyingInfo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="powerManagementCapabilities" type="tns:LogicalDevicePowerManagementEnum"/>
<xs:element name="powerManagementSupported" type="xs:boolean"/>
<xs:element name="powerOnHours" type="xs:long"/>
<xs:element minOccurs="0" name="statusInfo" type="tns:statusInfo"/>
<xs:element minOccurs="0" name="systemCreationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="systemName" type="xs:string"/>
<xs:element name="totalPowerOnHours" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="setEncapsulationLabelResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="createSubInterface">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:networkPort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="networkPort">
<xs:complexContent>
<xs:extension base="tns:logicalPort">
<xs:sequence>
<xs:element name="activeMaximumTransmissionUnit" type="xs:long"/>
<xs:element name="autoSense" type="xs:boolean"/>
<xs:element name="fullDuplex" type="xs:boolean"/>
<xs:element minOccurs="0" name="linkTechnology" type="tns:linkTechnology"/>
<xs:element minOccurs="0" name="module" type="tns:logicalModule"/>
<xs:element minOccurs="0" name="otherLinkTechnology" type="xs:string"/>
<xs:element minOccurs="0" name="otherNetworkPortType" type="xs:string"/>
<xs:element minOccurs="0" name="permanentAddress" type="xs:string"/>
<xs:element name="portNumber" type="xs:int"/>
<xs:element name="supportedMaximumTransmissionUnit" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="logicalModule">
<xs:complexContent>
<xs:extension base="tns:logicalDevice">
<xs:sequence>
<xs:element minOccurs="0" name="logicalModuleType" type="tns:logicalModuleType"/>
<xs:element name="moduleNumber" type="xs:int"/>
<xs:element minOccurs="0" name="otherLogicalModuleTypeDescription" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="createSubInterfaceResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="addInterfacesToLogicalRouter">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:computerSystem"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:logicalPort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addInterfacesToLogicalRouterResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="upPhysicalInterface">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:logicalPort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="upPhysicalInterfaceResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="downPhysicalInterface">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:logicalPort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="downPhysicalInterfaceResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="deleteSubInterface">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:networkPort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteSubInterfaceResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="deleteLogicalRouter">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:computerSystem"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteLogicalRouterResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="removeInterfacesFromLogicalRouter">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:computerSystem"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="tns:logicalPort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeInterfacesFromLogicalRouterResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="setEncapsulation">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="tns:logicalPort"/>
<xs:element minOccurs="0" name="arg2" type="tns:protocolIFType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setEncapsulationResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="nextHopIPRoute">
<xs:complexContent>
<xs:extension base="tns:nextHopRoute">
<xs:sequence>
<xs:element minOccurs="0" name="addressType" type="tns:NextHopIPRouteAddressTypeEnum"/>
<xs:element minOccurs="0" name="destinationMask" type="xs:string"/>
<xs:element minOccurs="0" name="otherDerivation" type="xs:string"/>
<xs:element name="prefixLength" type="xs:short"/>
<xs:element minOccurs="0" name="routeDerivation" type="tns:routeDerivation"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="nextHopRoute">
<xs:complexContent>
<xs:extension base="tns:managedElement">
<xs:sequence>
<xs:element name="adminDistance" type="xs:int"/>
<xs:element minOccurs="0" name="destinationAddress" type="xs:string"/>
<xs:element name="isStatic" type="xs:boolean"/>
<xs:element minOccurs="0" name="protocolEndpoint" type="tns:protocolEndpoint"/>
<xs:element name="routeMetric" type="xs:int"/>
<xs:element minOccurs="0" name="system" type="tns:system"/>
<xs:element minOccurs="0" name="typeOfRoute" type="tns:typeOfRoute"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="protocolEndpoint">
<xs:complexContent>
<xs:extension base="tns:serviceAccessPoint">
<xs:sequence>
<xs:element minOccurs="0" name="nameFormat" type="xs:string"/>
<xs:element minOccurs="0" name="otherTypeDescription" type="xs:string"/>
<xs:element minOccurs="0" name="protocolIFType" type="tns:protocolIFType"/>
<xs:element minOccurs="0" name="protocolType" type="tns:protocolType"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="serviceAccessPoint">
<xs:complexContent>
<xs:extension base="tns:enabledLogicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="creationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="service" type="tns:service"/>
<xs:element minOccurs="0" name="systemCreationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="systemName" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="service">
<xs:complexContent>
<xs:extension base="tns:enabledLogicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="creationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="hostSystem" type="tns:system"/>
<xs:element minOccurs="0" name="primaryOwnerContact" type="xs:string"/>
<xs:element minOccurs="0" name="primaryOwnerName" type="xs:string"/>
<xs:element minOccurs="0" name="startMode" type="tns:startMode"/>
<xs:element name="started" type="xs:boolean"/>
<xs:element minOccurs="0" name="systemCreationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="systemName" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="logicalTunnelPort">
<xs:complexContent>
<xs:extension base="tns:networkPort">
<xs:sequence>
<xs:element name="peer_unit" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="hostedRoutingServices">
<xs:complexContent>
<xs:extension base="tns:hostedService">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="hostedService">
<xs:complexContent>
<xs:extension base="tns:hostedDependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="hostedDependency">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="dependency">
<xs:complexContent>
<xs:extension base="tns:association">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="association">
<xs:sequence>
<xs:element minOccurs="0" name="from" type="tns:managedElement"/>
<xs:element minOccurs="0" name="to" type="tns:managedElement"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="greTunnelServiceConfiguration">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ethernetPort">
<xs:complexContent>
<xs:extension base="tns:networkPort">
<xs:sequence>
<xs:element minOccurs="0" name="capabilities" type="tns:capabilities"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="capabilityDescriptions" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="enabledCapabilities" type="tns:enabledCapabilities"/>
<xs:element name="maxDataSize" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="otherEnabledCapabilities" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="fcPort">
<xs:complexContent>
<xs:extension base="tns:networkPort">
<xs:sequence>
<xs:element minOccurs="0" name="activeCOS" type="tns:activeCOS"/>
<xs:element minOccurs="0" name="activeFC4Types" type="tns:activeFC4Types"/>
<xs:element minOccurs="0" name="supportedCOS" type="tns:supportedCOS"/>
<xs:element minOccurs="0" name="supportedFC4Types" type="tns:supportedFC4Types"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ipProtocolEndpoint">
<xs:complexContent>
<xs:extension base="tns:protocolEndpoint">
<xs:sequence>
<xs:element minOccurs="0" name="address" type="xs:string"/>
<xs:element minOccurs="0" name="addressOrigin" type="tns:addressOrigin"/>
<xs:element minOccurs="0" name="addressType" type="tns:IPProtocolEndpointAddressTypeEnum"/>
<xs:element minOccurs="0" name="IPVersionSupport" type="tns:ipVersionSupport"/>
<xs:element minOccurs="0" name="IPv4Address" type="xs:string"/>
<xs:element minOccurs="0" name="IPv6Address" type="xs:string"/>
<xs:element minOccurs="0" name="IPv6AddressType" type="tns:iPv6AddressType"/>
<xs:element name="IPv6SubnetPrefixLength" type="xs:int"/>
<xs:element name="prefixLength" type="xs:short"/>
<xs:element minOccurs="0" name="subnetMask" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ipHeadersFilter">
<xs:complexContent>
<xs:extension base="tns:filterEntryBase">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrDSCP" nillable="true" type="xs:short"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrDestAddress" nillable="true" type="xs:short"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrDestAddressEndOfRange" nillable="true" type="xs:short"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrDestMask" nillable="true" type="xs:short"/>
<xs:element name="hdrDestPortEnd" type="xs:int"/>
<xs:element name="hdrDestPortStart" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrFlowLabel" nillable="true" type="xs:short"/>
<xs:element minOccurs="0" name="hdrIPVersion" type="tns:hdrIPVersion"/>
<xs:element name="hdrProtocolID" type="xs:short"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrSrcAddress" nillable="true" type="xs:short"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrSrcAddressEndOfRange" nillable="true" type="xs:short"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="hdrSrcMask" nillable="true" type="xs:short"/>
<xs:element name="hdrSrcPortEnd" type="xs:int"/>
<xs:element name="hdrSrcPortStart" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="filterEntryBase">
<xs:complexContent>
<xs:extension base="tns:logicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="creationClassName" type="xs:string"/>
<xs:element name="isNegated" type="xs:boolean"/>
<xs:element minOccurs="0" name="systemCreationClassName" type="xs:string"/>
<xs:element minOccurs="0" name="systemName" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="systemComponent">
<xs:complexContent>
<xs:extension base="tns:component">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="component">
<xs:complexContent>
<xs:extension base="tns:association">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="endpointInArea">
<xs:complexContent>
<xs:extension base="tns:component">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="deviceSAPImplementation">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="areaOfConfiguration">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="portOnDevice">
<xs:complexContent>
<xs:extension base="tns:hostedDependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="adminDomain">
<xs:complexContent>
<xs:extension base="tns:system">
<xs:sequence>
<xs:element minOccurs="0" name="nameFormat" type="tns:AdminDomainNameFormatEnum"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ospfArea">
<xs:complexContent>
<xs:extension base="tns:routingProtocolDomain">
<xs:sequence>
<xs:element name="areaID" type="xs:long"/>
<xs:element minOccurs="0" name="areaType" type="tns:areaType"/>
<xs:element minOccurs="0" name="configuration" type="tns:ospfAreaConfiguration"/>
<xs:element name="extLsdbLimit" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="routingProtocolDomain">
<xs:complexContent>
<xs:extension base="tns:adminDomain">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ospfAreaConfiguration">
<xs:complexContent>
<xs:extension base="tns:logicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="OSPFArea" type="tns:ospfArea"/>
<xs:element minOccurs="0" name="OSPFService" type="tns:ospfService"/>
<xs:element name="stubDefaultCost" type="xs:long"/>
<xs:element minOccurs="0" name="stubMetricType" type="tns:stubMetricType"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ospfService">
<xs:complexContent>
<xs:extension base="tns:routeCalculationService">
<xs:sequence>
<xs:element name="exitOverflowInterval" type="xs:long"/>
<xs:element name="isInterAreaMulticastForwarder" type="xs:boolean"/>
<xs:element name="isInterAsMulticastForwarder" type="xs:boolean"/>
<xs:element name="RFC1583Compatibility" type="xs:boolean"/>
<xs:element name="runningMOSPF" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="routeCalculationService">
<xs:complexContent>
<xs:extension base="tns:networkService">
<xs:sequence>
<xs:element minOccurs="0" name="algorithmType" type="tns:algorithmType"/>
<xs:element minOccurs="0" name="routerID" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="networkService">
<xs:complexContent>
<xs:extension base="tns:service">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="keywords" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="serviceURL" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="startupConditions" nillable="true" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="startupParameters" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="portImplementsEndpoint">
<xs:complexContent>
<xs:extension base="tns:deviceSAPImplementation">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="bindsTo">
<xs:complexContent>
<xs:extension base="tns:sapsapDependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="sapsapDependency">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="deviceConnection">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence>
<xs:element name="negotiatedDataWidth" type="xs:long"/>
<xs:element name="negotiatedSpeed" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="greTunnelEndpoint">
<xs:complexContent>
<xs:extension base="tns:ipProtocolEndpoint">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="hostedRoute">
<xs:complexContent>
<xs:extension base="tns:hostedDependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="greTunnelConfiguration">
<xs:complexContent>
<xs:extension base="tns:logicalElement">
<xs:sequence>
<xs:element minOccurs="0" name="destinationAddress" type="xs:string"/>
<xs:element minOccurs="0" name="GRETunnelService" type="tns:greTunnelService"/>
<xs:element name="key" type="xs:int"/>
<xs:element minOccurs="0" name="sourceAddress" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="greTunnelService">
<xs:complexContent>
<xs:extension base="tns:service">
<xs:sequence>
<xs:element minOccurs="0" name="GRETunnelConfiguration" type="tns:greTunnelConfiguration"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="routeUsesEndpoint">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="modulePort">
<xs:complexContent>
<xs:extension base="tns:component">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ospfProtocolEndpoint">
<xs:complexContent>
<xs:extension base="tns:ospfProtocolEndpointBase">
<xs:sequence>
<xs:element name="cost" type="xs:int"/>
<xs:element name="ifDemand" type="xs:boolean"/>
<xs:element name="pollInterval" type="xs:int"/>
<xs:element name="priority" type="xs:short"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ospfProtocolEndpointBase">
<xs:complexContent>
<xs:extension base="tns:protocolEndpoint">
<xs:sequence>
<xs:element minOccurs="0" name="authKey" type="xs:string"/>
<xs:element minOccurs="0" name="authType" type="tns:authType"/>
<xs:element minOccurs="0" name="OSPFArea" type="tns:ospfArea"/>
<xs:element minOccurs="0" name="otherAuthType" type="xs:string"/>
<xs:element name="retransmitInterval" type="xs:int"/>
<xs:element name="transitDelay" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="vlanEndpoint">
<xs:complexContent>
<xs:extension base="tns:protocolEndpoint">
<xs:sequence>
<xs:element minOccurs="0" name="desiredEndpointMode" type="tns:desiredEndpointMode"/>
<xs:element minOccurs="0" name="desiredVLANTrunkEncapsulation" type="tns:desiredVLANTrunkEncapsulation"/>
<xs:element minOccurs="0" name="GVRPStatus" type="tns:gvrpStatus"/>
<xs:element minOccurs="0" name="operationalEndpointMode" type="tns:operationalEndpointMode"/>
<xs:element minOccurs="0" name="operationalVLANTrunkEncapsulation" type="tns:operationalVLANTrunkEncapsulation"/>
<xs:element minOccurs="0" name="otherEndpointMode" type="xs:string"/>
<xs:element minOccurs="0" name="otherTrunkEncapsulation" type="xs:string"/>
<xs:element name="vlanID" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="ospfServiceConfiguration">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="systemDevice">
<xs:complexContent>
<xs:extension base="tns:systemComponent">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="serviceAccessBySAP">
<xs:complexContent>
<xs:extension base="tns:dependency">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="providesEndpoint">
<xs:complexContent>
<xs:extension base="tns:serviceAccessBySAP">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="greService">
<xs:complexContent>
<xs:extension base="tns:service">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="dedicated">
<xs:restriction base="xs:string">
<xs:enumeration value="NOT_DEDICATED"/>
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="STORAGE"/>
<xs:enumeration value="ROUTER"/>
<xs:enumeration value="SWITCH"/>
<xs:enumeration value="LAYER_3_SWITCH"/>
<xs:enumeration value="CENTRAL_OFFICE_SWITCH"/>
<xs:enumeration value="HUB"/>
<xs:enumeration value="ACCESS_SERVER"/>
<xs:enumeration value="FIREWALL"/>
<xs:enumeration value="PRINT"/>
<xs:enumeration value="I_O"/>
<xs:enumeration value="WEB_CACHING"/>
<xs:enumeration value="MANAGEMENT"/>
<xs:enumeration value="BLOCK_SERVER"/>
<xs:enumeration value="FILE_SERVER"/>
<xs:enumeration value="MOBILE_USER_DEVICE"/>
<xs:enumeration value="REPEATER"/>
<xs:enumeration value="BRIDGE_EXTENDER"/>
<xs:enumeration value="GATEWAY"/>
<xs:enumeration value="STORAGE_VIRTUALIZER"/>
<xs:enumeration value="MEDIA_LIBRARY"/>
<xs:enumeration value="EXTENDERNODE"/>
<xs:enumeration value="NAS_HEAD"/>
<xs:enumeration value="SELF_CONTAINED_NAS"/>
<xs:enumeration value="UPS"/>
<xs:enumeration value="IP_PHONE"/>
<xs:enumeration value="MANAGEMENT_CONTROLLER"/>
<xs:enumeration value="CHASSIS_MANAGER"/>
<xs:enumeration value="HOST_BASED_RAID_CONTROLLER"/>
<xs:enumeration value="STORAGE_DEVICE_ENCLOSURE"/>
<xs:enumeration value="DESKTOP"/>
<xs:enumeration value="LAPTOP"/>
<xs:enumeration value="VIRTUAL_TAPE_LIBRARY"/>
<xs:enumeration value="VIRTUAL_LIBRARY_SYSTEM"/>
<xs:enumeration value="NETWORK_PC_THIN_CLIENT"/>
<xs:enumeration value="FC_SWITCH"/>
<xs:enumeration value="ETHERNET_SWITCH"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ComputerSystemNameFormatEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="IP"/>
<xs:enumeration value="DIAL"/>
<xs:enumeration value="HID"/>
<xs:enumeration value="NWA"/>
<xs:enumeration value="HWA"/>
<xs:enumeration value="X25"/>
<xs:enumeration value="ISDN"/>
<xs:enumeration value="IPX"/>
<xs:enumeration value="DCC"/>
<xs:enumeration value="ICD"/>
<xs:enumeration value="E_164"/>
<xs:enumeration value="SNA"/>
<xs:enumeration value="OID_OSI"/>
<xs:enumeration value="WWN"/>
<xs:enumeration value="NAA"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ComputerSystemPowerManagementEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="NOT_SUPPORTED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="POWER_SAVING_MODES_ENTERED_AUTOMATICALLY"/>
<xs:enumeration value="POWER_STATE_SETTABLE"/>
<xs:enumeration value="POWER_CYCLING_SUPPORTED"/>
<xs:enumeration value="TIMED_POWER_ON_SUPPORTED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="resetCapability">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="NOT_IMPLEMENTED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="availableRequestedStates">
<xs:restriction base="xs:string">
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="SHUT_DOWN"/>
<xs:enumeration value="OFFLINE"/>
<xs:enumeration value="TEST"/>
<xs:enumeration value="DEFER"/>
<xs:enumeration value="QUIESCE"/>
<xs:enumeration value="REBOOT"/>
<xs:enumeration value="RESET"/>
<xs:enumeration value="DMTF_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="enabledDefault">
<xs:restriction base="xs:string">
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="ENABLED_BUT_OFFLINE"/>
<xs:enumeration value="NO_DEFAULT"/>
<xs:enumeration value="QUIESCE"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="enabledState">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="SHUTTING_DOWN"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="ENABLED_BUT_OFFLINE"/>
<xs:enumeration value="IN_TEST"/>
<xs:enumeration value="DEFERRED"/>
<xs:enumeration value="QUIESCE"/>
<xs:enumeration value="STARTING"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="requestedState">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="SHUT_DOWN"/>
<xs:enumeration value="NO_CHANGE"/>
<xs:enumeration value="OFFLINE"/>
<xs:enumeration value="TEST"/>
<xs:enumeration value="DEFERRED"/>
<xs:enumeration value="QUIESCE"/>
<xs:enumeration value="REBOOT"/>
<xs:enumeration value="RESET"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="transitioningToState">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="SHUT_DOWN"/>
<xs:enumeration value="NO_CHANGE"/>
<xs:enumeration value="OFFLINE"/>
<xs:enumeration value="TEST"/>
<xs:enumeration value="DEFER"/>
<xs:enumeration value="QUIESCE"/>
<xs:enumeration value="REBOOT"/>
<xs:enumeration value="RESET"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="DMTF_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="communicationStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="NOT_AVAILABLE"/>
<xs:enumeration value="COMMUNICATION_OK"/>
<xs:enumeration value="LOST_COMMUNICATION"/>
<xs:enumeration value="NO_CONTACT"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="detailedStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="NOT_AVAILABLE"/>
<xs:enumeration value="NO_ADDITIONAL_INFORMATION"/>
<xs:enumeration value="STRESSED"/>
<xs:enumeration value="PREDICTIVE_FAILURE"/>
<xs:enumeration value="NON_RECOVERABLE_ERROR"/>
<xs:enumeration value="SUPPORTING_ENTITY_IN_ERROR"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="healthState">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OK"/>
<xs:enumeration value="DEGRADED_WARNING"/>
<xs:enumeration value="MINOR_FAILURE"/>
<xs:enumeration value="MAJOR_FAILURE"/>
<xs:enumeration value="CRITICAL_FAILURE"/>
<xs:enumeration value="NON_RECOVERABLE_ERROR"/>
<xs:enumeration value="DMTF_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="operatingStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="NOT_AVAILABLE"/>
<xs:enumeration value="SERVICING"/>
<xs:enumeration value="STARTING"/>
<xs:enumeration value="STOPPING"/>
<xs:enumeration value="STOPPED"/>
<xs:enumeration value="ABORTED"/>
<xs:enumeration value="DORMANT"/>
<xs:enumeration value="COMPLETED"/>
<xs:enumeration value="MIGRATING"/>
<xs:enumeration value="EMIGRATING"/>
<xs:enumeration value="IMMIGRATING"/>
<xs:enumeration value="SNAPSHOTTING"/>
<xs:enumeration value="SHUTTING_DOWN"/>
<xs:enumeration value="IN_TEST"/>
<xs:enumeration value="TRANSITIONING"/>
<xs:enumeration value="IN_SERVICE"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="operationalStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="OK"/>
<xs:enumeration value="DEGRADED"/>
<xs:enumeration value="STRESSED"/>
<xs:enumeration value="PREDICTIVE_FAILURE"/>
<xs:enumeration value="ERROR"/>
<xs:enumeration value="NON_RECOVERABLE_ERROR"/>
<xs:enumeration value="STARTING"/>
<xs:enumeration value="STOPPING"/>
<xs:enumeration value="STOPPED"/>
<xs:enumeration value="IN_SERVICE"/>
<xs:enumeration value="NO_CONTACT"/>
<xs:enumeration value="LOST_COMMUNICATION"/>
<xs:enumeration value="ABORTED"/>
<xs:enumeration value="DORMANT"/>
<xs:enumeration value="SUPPORTING_ENTITY_IN_ERROR"/>
<xs:enumeration value="COMPLETED"/>
<xs:enumeration value="POWER_MODE"/>
<xs:enumeration value="RELOCATING"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="primaryStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OK"/>
<xs:enumeration value="DEGRADED"/>
<xs:enumeration value="ERROR"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="status">
<xs:restriction base="xs:string">
<xs:enumeration value="OK"/>
<xs:enumeration value="ERROR"/>
<xs:enumeration value="DEGRADED"/>
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="PRED_FAIL"/>
<xs:enumeration value="STARTING"/>
<xs:enumeration value="STOPPING"/>
<xs:enumeration value="SERVICE"/>
<xs:enumeration value="STRESSED"/>
<xs:enumeration value="NONRECOVER"/>
<xs:enumeration value="NO_CONTACT"/>
<xs:enumeration value="LOST_COMM"/>
<xs:enumeration value="STOPPED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="portType">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="usageRestriction">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="FRONT_END_ONLY"/>
<xs:enumeration value="BACK_END_ONLY"/>
<xs:enumeration value="NOT_RESTRICTED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="additionalAvailability">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="RUNNING_FULL_POWER"/>
<xs:enumeration value="WARNING"/>
<xs:enumeration value="IN_TEST"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="POWER_OFF"/>
<xs:enumeration value="OFF_LINE"/>
<xs:enumeration value="OFF_DUTY"/>
<xs:enumeration value="DEGRADED"/>
<xs:enumeration value="NOT_INSTALLED"/>
<xs:enumeration value="INSTALL_ERROR"/>
<xs:enumeration value="POWER_SAVE_UNKNOWN"/>
<xs:enumeration value="POWER_SAVE_LOW_POWER_MODE"/>
<xs:enumeration value="POWER_SAVE_STANDBY"/>
<xs:enumeration value="POWER_CYCLE"/>
<xs:enumeration value="POWER_SAVE_WARNING"/>
<xs:enumeration value="PAUSED"/>
<xs:enumeration value="NOT_READY"/>
<xs:enumeration value="NOT_CONFIGURED"/>
<xs:enumeration value="QUIESCED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="availability">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="RUNNING_FULL_POWER"/>
<xs:enumeration value="WARNING"/>
<xs:enumeration value="IN_TEST"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="POWER_OFF"/>
<xs:enumeration value="OFF_LINE"/>
<xs:enumeration value="OFF_DUTY"/>
<xs:enumeration value="DEGRADED"/>
<xs:enumeration value="NOT_INSTALLED"/>
<xs:enumeration value="INSTALL_ERROR"/>
<xs:enumeration value="POWER_SAVE_UNKNOWN"/>
<xs:enumeration value="POWER_SAVE_LOW_POWER_MODE"/>
<xs:enumeration value="POWER_SAVE_STANDBY"/>
<xs:enumeration value="POWER_CYCLE"/>
<xs:enumeration value="POWER_SAVE_WARNING"/>
<xs:enumeration value="PAUSED"/>
<xs:enumeration value="NOT_READY"/>
<xs:enumeration value="NOT_CONFIGURED"/>
<xs:enumeration value="QUIESCED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="LogicalDevicePowerManagementEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="NOT_SUPPORTED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="POWER_SAVING_MODES_ENTERED_AUTOMATICALLY"/>
<xs:enumeration value="POWER_STATE_SETTABLE"/>
<xs:enumeration value="POWER_CYCLING_SUPPORTED"/>
<xs:enumeration value="TIMED_POWER_ON_SUPPORTED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="statusInfo">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="NOT_APPLICABLE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="linkTechnology">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ETHERNET"/>
<xs:enumeration value="IB"/>
<xs:enumeration value="FC"/>
<xs:enumeration value="FDDI"/>
<xs:enumeration value="ATM"/>
<xs:enumeration value="TOKEN_RING"/>
<xs:enumeration value="FRAME_RELAY"/>
<xs:enumeration value="INFRARED"/>
<xs:enumeration value="BLUETOOTH"/>
<xs:enumeration value="WIRELESS_LAN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="logicalModuleType">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="DEVICE_TRAY"/>
<xs:enumeration value="LINE_CARD"/>
<xs:enumeration value="BLADE"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="protocolIFType">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="REGULAR_1822"/>
<xs:enumeration value="HDH_1822"/>
<xs:enumeration value="DDN_X_25"/>
<xs:enumeration value="RFC877_X_25"/>
<xs:enumeration value="ETHERNET_CSMA_CD"/>
<xs:enumeration value="ISO_802_3_CSMA_CD"/>
<xs:enumeration value="ISO_802_4_TOKEN_BUS"/>
<xs:enumeration value="ISO_802_5_TOKEN_RING"/>
<xs:enumeration value="ISO_802_6_MAN"/>
<xs:enumeration value="STARLAN"/>
<xs:enumeration value="PROTEON_10MBIT"/>
<xs:enumeration value="PROTEON_80MBIT"/>
<xs:enumeration value="HYPERCHANNEL"/>
<xs:enumeration value="FDDI"/>
<xs:enumeration value="LAP_B"/>
<xs:enumeration value="SDLC"/>
<xs:enumeration value="DS1"/>
<xs:enumeration value="E1"/>
<xs:enumeration value="BASIC_ISDN"/>
<xs:enumeration value="PRIMARY_ISDN"/>
<xs:enumeration value="PROPRIETARY_POINT_TO_POINT_SERIAL"/>
<xs:enumeration value="PPP"/>
<xs:enumeration value="SOFTWARE_LOOPBACK"/>
<xs:enumeration value="EON"/>
<xs:enumeration value="ETHERNET_3MBIT"/>
<xs:enumeration value="NSIP"/>
<xs:enumeration value="SLIP"/>
<xs:enumeration value="ULTRA"/>
<xs:enumeration value="DS3"/>
<xs:enumeration value="SIP"/>
<xs:enumeration value="FRAME_RELAY"/>
<xs:enumeration value="RS_232"/>
<xs:enumeration value="PARALLEL"/>
<xs:enumeration value="ARCNET"/>
<xs:enumeration value="ARCNET_PLUS"/>
<xs:enumeration value="ATM"/>
<xs:enumeration value="MIO_X_25"/>
<xs:enumeration value="SONET"/>
<xs:enumeration value="X_25_PLE"/>
<xs:enumeration value="ISO_802_211C"/>
<xs:enumeration value="LOCALTALK"/>
<xs:enumeration value="SMDS_DXI"/>
<xs:enumeration value="FRAME_RELAY_SERVICE"/>
<xs:enumeration value="V_35"/>
<xs:enumeration value="HSSI"/>
<xs:enumeration value="HIPPI"/>
<xs:enumeration value="MODEM"/>
<xs:enumeration value="AAL5"/>
<xs:enumeration value="SONET_PATH"/>
<xs:enumeration value="SONET_VT"/>
<xs:enumeration value="SMDS_ICIP"/>
<xs:enumeration value="PROPRIETARY_VIRTUAL_INTERNAL"/>
<xs:enumeration value="PROPRIETARY_MULTIPLEXOR"/>
<xs:enumeration value="IEEE_802_12"/>
<xs:enumeration value="FIBRE_CHANNEL"/>
<xs:enumeration value="HIPPI_INTERFACE"/>
<xs:enumeration value="FRAME_RELAY_INTERCONNECT"/>
<xs:enumeration value="ATM_EMULATED_LAN_FOR_802_3"/>
<xs:enumeration value="ATM_EMULATED_LAN_FOR_802_5"/>
<xs:enumeration value="ATM_EMULATED_CIRCUIT"/>
<xs:enumeration value="FAST_ETHERNET_100BASET"/>
<xs:enumeration value="ISDN"/>
<xs:enumeration value="V_11"/>
<xs:enumeration value="V_36"/>
<xs:enumeration value="G703_AT_64K"/>
<xs:enumeration value="G703_AT_2MB"/>
<xs:enumeration value="QLLC"/>
<xs:enumeration value="FAST_ETHERNET_100BASEFX"/>
<xs:enumeration value="CHANNEL"/>
<xs:enumeration value="IEEE_802_11"/>
<xs:enumeration value="IBM_260_370_OEMI_CHANNEL"/>
<xs:enumeration value="ESCON"/>
<xs:enumeration value="DATA_LINK_SWITCHING"/>
<xs:enumeration value="ISDN_S_T_INTERFACE"/>
<xs:enumeration value="ISDN_U_INTERFACE"/>
<xs:enumeration value="LAP_D"/>
<xs:enumeration value="IP_SWITCH"/>
<xs:enumeration value="REMOTE_SOURCE_ROUTE_BRIDGING"/>
<xs:enumeration value="ATM_LOGICAL"/>
<xs:enumeration value="DS0"/>
<xs:enumeration value="DS0_BUNDLE"/>
<xs:enumeration value="BSC"/>
<xs:enumeration value="ASYNC"/>
<xs:enumeration value="COMBAT_NET_RADIO"/>
<xs:enumeration value="ISO_802_5R_DTR"/>
<xs:enumeration value="EXT_POS_LOC_REPORT_SYSTEM"/>
<xs:enumeration value="APPLETALK_REMOTE_ACCESS_PROTOCOL"/>
<xs:enumeration value="PROPRIETARY_CONNECTIONLESS"/>
<xs:enumeration value="ITU_X_29_HOST_PAD"/>
<xs:enumeration value="ITU_X_3_TERMINAL_PAD"/>
<xs:enumeration value="FRAME_RELAY_MPI"/>
<xs:enumeration value="ITU_X_213"/>
<xs:enumeration value="ADSL"/>
<xs:enumeration value="RADSL"/>
<xs:enumeration value="SDSL"/>
<xs:enumeration value="VDSL"/>
<xs:enumeration value="ISO_802_5_CRFP"/>
<xs:enumeration value="MYRINET"/>
<xs:enumeration value="VOICE_RECEIVE_AND_TRANSMIT"/>
<xs:enumeration value="VOICE_FOREIGN_EXCHANGE_OFFICE"/>
<xs:enumeration value="VOICE_FOREIGN_EXCHANGE_SERVICE"/>
<xs:enumeration value="VOICE_ENCAPSULATION"/>
<xs:enumeration value="VOICE_OVER_IP"/>
<xs:enumeration value="ATM_DXI"/>
<xs:enumeration value="ATM_FUNI"/>
<xs:enumeration value="ATM_IMA"/>
<xs:enumeration value="PPP_MULTILINK_BUNDLE"/>
<xs:enumeration value="IP_OVER_CDLC"/>
<xs:enumeration value="IP_OVER_CLAW"/>
<xs:enumeration value="STACK_TO_STACK"/>
<xs:enumeration value="VIRTUAL_IP_ADDRESS"/>
<xs:enumeration value="MPC"/>
<xs:enumeration value="IP_OVER_ATM"/>
<xs:enumeration value="ISO_802_5J_FIBRE_TOKEN_RING"/>
<xs:enumeration value="TDLC"/>
<xs:enumeration value="GIGABIT_ETHERNET"/>
<xs:enumeration value="HDLC"/>
<xs:enumeration value="LAP_F"/>
<xs:enumeration value="V_37"/>
<xs:enumeration value="X_25_MLP"/>
<xs:enumeration value="X_25_HUNT_GROUP"/>
<xs:enumeration value="TRANSP_HDLC"/>
<xs:enumeration value="INTERLEAVE_CHANNEL"/>
<xs:enumeration value="FAST_CHANNEL"/>
<xs:enumeration value="IP_FOR_APPN_HPR_IN_IP_NETWORKS"/>
<xs:enumeration value="CATV_MAC_LAYER"/>
<xs:enumeration value="CATV_DOWNSTREAM"/>
<xs:enumeration value="CATV_UPSTREAM"/>
<xs:enumeration value="AVALON_12MPP_SWITCH"/>
<xs:enumeration value="TUNNEL"/>
<xs:enumeration value="COFFEE"/>
<xs:enumeration value="CIRCUIT_EMULATION_SERVICE"/>
<xs:enumeration value="ATM_SUBINTERFACE"/>
<xs:enumeration value="LAYER_2_VLAN_USING_802_1Q"/>
<xs:enumeration value="LAYER_3_VLAN_USING_IP"/>
<xs:enumeration value="LAYER_3_VLAN_USING_IPX"/>
<xs:enumeration value="DIGITAL_POWER_LINE"/>
<xs:enumeration value="MULTIMEDIA_MAIL_OVER_IP"/>
<xs:enumeration value="DTM"/>
<xs:enumeration value="DCN"/>
<xs:enumeration value="IP_FORWARDING"/>
<xs:enumeration value="MSDSL"/>
<xs:enumeration value="IEEE_1394"/>
<xs:enumeration value="IF_GSN_HIPPI_6400"/>
<xs:enumeration value="DVB_RCC_MAC_LAYER"/>
<xs:enumeration value="DVB_RCC_DOWNSTREAM"/>
<xs:enumeration value="DVB_RCC_UPSTREAM"/>
<xs:enumeration value="ATM_VIRTUAL"/>
<xs:enumeration value="MPLS_TUNNEL"/>
<xs:enumeration value="SRP"/>
<xs:enumeration value="VOICE_OVER_ATM"/>
<xs:enumeration value="VOICE_OVER_FRAME_RELAY"/>
<xs:enumeration value="ISDL"/>
<xs:enumeration value="COMPOSITE_LINK"/>
<xs:enumeration value="SS7_SIGNALING_LINK"/>
<xs:enumeration value="PROPRIETARY_P2P_WIRELESS"/>
<xs:enumeration value="FRAME_FORWARD"/>
<xs:enumeration value="RFC1483_MULTIPROTOCOL_OVER_ATM"/>
<xs:enumeration value="USB"/>
<xs:enumeration value="IEEE_802_3AD_LINK_AGGREGATE"/>
<xs:enumeration value="BGP_POLICY_ACCOUNTING"/>
<xs:enumeration value="FRF_16_MULTILINK_FR"/>
<xs:enumeration value="H_323_GATEKEEPER"/>
<xs:enumeration value="H_323_PROXY"/>
<xs:enumeration value="MPLS"/>
<xs:enumeration value="MULTI_FREQUENCY_SIGNALING_LINK"/>
<xs:enumeration value="HDSL_2"/>
<xs:enumeration value="S_HDSL"/>
<xs:enumeration value="DS1_FACILITY_DATA_LINK"/>
<xs:enumeration value="PACKET_OVER_SONET_SDH"/>
<xs:enumeration value="DVB_ASI_INPUT"/>
<xs:enumeration value="DVB_ASI_OUTPUT"/>
<xs:enumeration value="POWER_LINE"/>
<xs:enumeration value="NON_FACILITY_ASSOCIATED_SIGNALING"/>
<xs:enumeration value="TR008"/>
<xs:enumeration value="GR303_RDT"/>
<xs:enumeration value="GR303_IDT"/>
<xs:enumeration value="ISUP"/>
<xs:enumeration value="PROPRIETARY_WIRELESS_MAC_LAYER"/>
<xs:enumeration value="PROPRIETARY_WIRELESS_DOWNSTREAM"/>
<xs:enumeration value="PROPRIETARY_WIRELESS_UPSTREAM"/>
<xs:enumeration value="HIPERLAN_TYPE_2"/>
<xs:enumeration value="PROPRIETARY_BROADBAND_WIRELESS_ACCESS_POINT_TO_MULIPOINT"/>
<xs:enumeration value="SONET_OVERHEAD_CHANNEL"/>
<xs:enumeration value="DIGITAL_WRAPPER_OVERHEAD_CHANNEL"/>
<xs:enumeration value="ATM_ADAPTATION_LAYER_2"/>
<xs:enumeration value="RADIO_MAC"/>
<xs:enumeration value="ATM_RADIO"/>
<xs:enumeration value="INTER_MACHINE_TRUNK"/>
<xs:enumeration value="MVL_DSL"/>
<xs:enumeration value="LONG_READ_DSL"/>
<xs:enumeration value="FRAME_RELAY_DLCI_ENDPOINT"/>
<xs:enumeration value="ATM_VCI_ENDPOINT"/>
<xs:enumeration value="OPTICAL_CHANNEL"/>
<xs:enumeration value="OPTICAL_TRANSPORT"/>
<xs:enumeration value="PROPRIETARY_ATM"/>
<xs:enumeration value="VOICE_OVER_CABLE"/>
<xs:enumeration value="INFINIBAND"/>
<xs:enumeration value="TE_LINK"/>
<xs:enumeration value="Q_2931"/>
<xs:enumeration value="VIRTUAL_TRUNK_GROUP"/>
<xs:enumeration value="SIP_TRUNK_GROUP"/>
<xs:enumeration value="SIP_SIGNALING"/>
<xs:enumeration value="CATV_UPSTREAM_CHANNEL"/>
<xs:enumeration value="ECONET"/>
<xs:enumeration value="FSAN_155MB_PON"/>
<xs:enumeration value="FSAN_622MB_PON"/>
<xs:enumeration value="TRANSPARENT_BRIDGE"/>
<xs:enumeration value="LINE_GROUP"/>
<xs:enumeration value="VOICE_E_M_FEATURE_GROUP"/>
<xs:enumeration value="VOICE_FGD_EANA"/>
<xs:enumeration value="VOICE_DID"/>
<xs:enumeration value="MPEG_TRANSPORT"/>
<xs:enumeration value="_6TO4"/>
<xs:enumeration value="GTP"/>
<xs:enumeration value="PARADYNE_ETHERLOOP_1"/>
<xs:enumeration value="PARADYNE_ETHERLOOP_2"/>
<xs:enumeration value="OPTICAL_CHANNEL_GROUP"/>
<xs:enumeration value="HOMEPNA"/>
<xs:enumeration value="GFP"/>
<xs:enumeration value="CISCOISLVLAN"/>
<xs:enumeration value="ACTELISMETALOOP"/>
<xs:enumeration value="FCIP"/>
<xs:enumeration value="IANA_RESERVED"/>
<xs:enumeration value="IPV4"/>
<xs:enumeration value="IPV6"/>
<xs:enumeration value="IPV4_V6"/>
<xs:enumeration value="IPX"/>
<xs:enumeration value="DECNET"/>
<xs:enumeration value="SNA"/>
<xs:enumeration value="CONP"/>
<xs:enumeration value="CLNP"/>
<xs:enumeration value="VINES"/>
<xs:enumeration value="XNS"/>
<xs:enumeration value="ISDN_B_CHANNEL_ENDPOINT"/>
<xs:enumeration value="ISDN_D_CHANNEL_ENDPOINT"/>
<xs:enumeration value="BGP"/>
<xs:enumeration value="OSPF"/>
<xs:enumeration value="UDP"/>
<xs:enumeration value="TCP"/>
<xs:enumeration value="_802_11A"/>
<xs:enumeration value="_802_11B"/>
<xs:enumeration value="_802_11G"/>
<xs:enumeration value="_802_11H"/>
<xs:enumeration value="NFS"/>
<xs:enumeration value="CIFS"/>
<xs:enumeration value="DAFS"/>
<xs:enumeration value="WEBDAV"/>
<xs:enumeration value="HTTP"/>
<xs:enumeration value="FTP"/>
<xs:enumeration value="NDMP"/>
<xs:enumeration value="TELNET"/>
<xs:enumeration value="SSH"/>
<xs:enumeration value="SM_CLP"/>
<xs:enumeration value="SMTP"/>
<xs:enumeration value="LDAP"/>
<xs:enumeration value="RDP"/>
<xs:enumeration value="HTTPS"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NextHopIPRouteAddressTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="IPV4"/>
<xs:enumeration value="IPV6"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="routeDerivation">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="CONNECTED"/>
<xs:enumeration value="USER_DEFINED"/>
<xs:enumeration value="IGRP"/>
<xs:enumeration value="EIGRP"/>
<xs:enumeration value="RIP"/>
<xs:enumeration value="HELLO"/>
<xs:enumeration value="EGP"/>
<xs:enumeration value="BGP"/>
<xs:enumeration value="ISIS"/>
<xs:enumeration value="OSPF"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="protocolType">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="IPV4"/>
<xs:enumeration value="IPV6"/>
<xs:enumeration value="IPX"/>
<xs:enumeration value="APPLETALK"/>
<xs:enumeration value="DECNET"/>
<xs:enumeration value="SNA"/>
<xs:enumeration value="CONP"/>
<xs:enumeration value="CLNP"/>
<xs:enumeration value="VINES"/>
<xs:enumeration value="XNS"/>
<xs:enumeration value="ATM"/>
<xs:enumeration value="FRAME_RELAY"/>
<xs:enumeration value="ETHERNET"/>
<xs:enumeration value="TOKENRING"/>
<xs:enumeration value="FDDI"/>
<xs:enumeration value="INFINIBAND"/>
<xs:enumeration value="FIBRE_CHANNEL"/>
<xs:enumeration value="ISDN_BRI_ENDPOINT"/>
<xs:enumeration value="ISDN_B_CHANNEL_ENDPOINT"/>
<xs:enumeration value="ISDN_D_CHANNEL_ENDPOINT"/>
<xs:enumeration value="IPV4_V6"/>
<xs:enumeration value="BGP"/>
<xs:enumeration value="OSPF"/>
<xs:enumeration value="MPLS"/>
<xs:enumeration value="UDP"/>
<xs:enumeration value="TCP"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="startMode">
<xs:restriction base="xs:string">
<xs:enumeration value="AUTOMATIC"/>
<xs:enumeration value="MANUAL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="typeOfRoute">
<xs:restriction base="xs:string">
<xs:enumeration value="ADMINISTRATOR_DEFINED_ROUTE"/>
<xs:enumeration value="COMPUTED_ROUTE"/>
<xs:enumeration value="ACTUAL_ROUTE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="capabilities">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ALERTONLAN"/>
<xs:enumeration value="WAKEONLAN"/>
<xs:enumeration value="FAILOVER"/>
<xs:enumeration value="LOADBALANCING"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="enabledCapabilities">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ALERTONLAN"/>
<xs:enumeration value="WAKEONLAN"/>
<xs:enumeration value="FAILOVER"/>
<xs:enumeration value="LOADBALANCING"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="activeCOS">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="_1"/>
<xs:enumeration value="_2"/>
<xs:enumeration value="_3"/>
<xs:enumeration value="_4"/>
<xs:enumeration value="_5"/>
<xs:enumeration value="_6"/>
<xs:enumeration value="F"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="activeFC4Types">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ISO_IEC_8802_2_LLC"/>
<xs:enumeration value="IP_OVER_FC"/>
<xs:enumeration value="SCSI_FCP"/>
<xs:enumeration value="SCSI_GPP"/>
<xs:enumeration value="IPI_3_MASTER"/>
<xs:enumeration value="IPI_3_SLAVE"/>
<xs:enumeration value="IPI_3_PEER"/>
<xs:enumeration value="CP_IPI_3_MASTER"/>
<xs:enumeration value="CP_IPI_3_SLAVE"/>
<xs:enumeration value="CP_IPI_3_PEER"/>
<xs:enumeration value="SBCCS_CHANNEL"/>
<xs:enumeration value="SBCCS_CONTROL_UNIT"/>
<xs:enumeration value="FC_SB_2_CHANNEL"/>
<xs:enumeration value="FC_SB_2_CONTROL_UNIT"/>
<xs:enumeration value="FIBRE_CHANNEL_SERVICES_FC_GS_FC_GS_2_FC_GS_3"/>
<xs:enumeration value="FC_SW"/>
<xs:enumeration value="FC_SNMP"/>
<xs:enumeration value="HIPPI_FP"/>
<xs:enumeration value="BBL_CONTROL"/>
<xs:enumeration value="BBL_FDDI_ENCAPSULATED_LAN_PDU"/>
<xs:enumeration value="BBL_802_3_ENCAPSULATED_LAN_PDU"/>
<xs:enumeration value="FC_VI"/>
<xs:enumeration value="FC_AV"/>
<xs:enumeration value="VENDOR_UNIQUE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="supportedCOS">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="_1"/>
<xs:enumeration value="_2"/>
<xs:enumeration value="_3"/>
<xs:enumeration value="_4"/>
<xs:enumeration value="_5"/>
<xs:enumeration value="_6"/>
<xs:enumeration value="F"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="supportedFC4Types">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ISO_IEC_8802_2_LLC"/>
<xs:enumeration value="IP_OVER_FC"/>
<xs:enumeration value="SCSI_FCP"/>
<xs:enumeration value="SCSI_GPP"/>
<xs:enumeration value="IPI_3_MASTER"/>
<xs:enumeration value="IPI_3_SLAVE"/>
<xs:enumeration value="IPI_3_PEER"/>
<xs:enumeration value="CP_IPI_3_MASTER"/>
<xs:enumeration value="CP_IPI_3_SLAVE"/>
<xs:enumeration value="CP_IPI_3_PEER"/>
<xs:enumeration value="SBCCS_CHANNEL"/>
<xs:enumeration value="SBCCS_CONTROL_UNIT"/>
<xs:enumeration value="FC_SB_2_CHANNEL"/>
<xs:enumeration value="FC_SB_2_CONTROL_UNIT"/>
<xs:enumeration value="FIBRE_CHANNEL_SERVICES_FC_GS_FC_GS_2_FC_GS_3"/>
<xs:enumeration value="FC_SW"/>
<xs:enumeration value="FC_SNMP"/>
<xs:enumeration value="HIPPI_FP"/>
<xs:enumeration value="BBL_CONTROL"/>
<xs:enumeration value="BBL_FDDI_ENCAPSULATED_LAN_PDU"/>
<xs:enumeration value="BBL_802_3_ENCAPSULATED_LAN_PDU"/>
<xs:enumeration value="FC_VI"/>
<xs:enumeration value="FC_AV"/>
<xs:enumeration value="VENDOR_UNIQUE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="addressOrigin">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="STATIC"/>
<xs:enumeration value="DHCP"/>
<xs:enumeration value="BOOTP"/>
<xs:enumeration value="IPV4_LINK_LOCAL"/>
<xs:enumeration value="DHCPV6"/>
<xs:enumeration value="IPV6AUTOCONFIG"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IPProtocolEndpointAddressTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="IPV4"/>
<xs:enumeration value="IPV6"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ipVersionSupport">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="IPV4_ONLY"/>
<xs:enumeration value="IPV6_ONLY"/>
<xs:enumeration value="BOTH_IPV4_AND_IPV6"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="iPv6AddressType">
<xs:restriction base="xs:string">
<xs:enumeration value="UNSPECIFIED"/>
<xs:enumeration value="LOOPBACK"/>
<xs:enumeration value="MULTICAST"/>
<xs:enumeration value="LINK_LOCAL_UNICAST"/>
<xs:enumeration value="GLOBAL_UNICAST"/>
<xs:enumeration value="EMBEDDED_IPV4_ADDRESS"/>
<xs:enumeration value="SITE_LOCAL_UNICAST"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="hdrIPVersion">
<xs:restriction base="xs:string">
<xs:enumeration value="IPV4"/>
<xs:enumeration value="IPV6"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AdminDomainNameFormatEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="AUTONOMOUS_SYSTEM"/>
<xs:enumeration value="NETWORK_ACCESS_PROVIDER"/>
<xs:enumeration value="NETWORK_OPERATIONS_CENTER"/>
<xs:enumeration value="POINT_OF_PRESENCE"/>
<xs:enumeration value="REGIONAL_NETWORK_PROVIDER"/>
<xs:enumeration value="IP"/>
<xs:enumeration value="IPX"/>
<xs:enumeration value="SNA"/>
<xs:enumeration value="DIAL"/>
<xs:enumeration value="WAN"/>
<xs:enumeration value="LAN"/>
<xs:enumeration value="ISDN"/>
<xs:enumeration value="FRAME_RELAY"/>
<xs:enumeration value="ATM"/>
<xs:enumeration value="E_164"/>
<xs:enumeration value="INFINIBAND"/>
<xs:enumeration value="FIBRE_CHANNEL"/>
<xs:enumeration value="POLICY_REPOSITORY"/>
<xs:enumeration value="FIBRE_CHANNEL_WORLDWIDE_NAME"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="areaType">
<xs:restriction base="xs:string">
<xs:enumeration value="PLAIN"/>
<xs:enumeration value="STUB"/>
<xs:enumeration value="NSSA"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="algorithmType">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="RIPV1"/>
<xs:enumeration value="RIPV2"/>
<xs:enumeration value="OSPFV1"/>
<xs:enumeration value="OSPFV2"/>
<xs:enumeration value="BGPV1"/>
<xs:enumeration value="BGPV2"/>
<xs:enumeration value="BGPV3"/>
<xs:enumeration value="BGPV4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="stubMetricType">
<xs:restriction base="xs:string">
<xs:enumeration value="OSPF_METRIC"/>
<xs:enumeration value="COMPARABLE_COST"/>
<xs:enumeration value="NONCOMPARABLE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="authType">
<xs:restriction base="xs:string">
<xs:enumeration value="OTHER"/>
<xs:enumeration value="NULL_AUTHENTICATION"/>
<xs:enumeration value="SIMPLE_PASSWORD"/>
<xs:enumeration value="CRYPTOGRAPHIC_AUTHENTICATION"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="desiredEndpointMode">
<xs:restriction base="xs:string">
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ACCESS"/>
<xs:enumeration value="DYNAMIC_AUTO"/>
<xs:enumeration value="DYNAMIC_DESIRABLE"/>
<xs:enumeration value="TRUNK"/>
<xs:enumeration value="DOT1Q_TUNNEL"/>
<xs:enumeration value="DMTF_RESERVED1"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="desiredVLANTrunkEncapsulation">
<xs:restriction base="xs:string">
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="_802_1Q"/>
<xs:enumeration value="CISCO_ISL"/>
<xs:enumeration value="NEGOTIATE"/>
<xs:enumeration value="DMTF_RESERVED1"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="gvrpStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="ENABLED"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="operationalEndpointMode">
<xs:restriction base="xs:string">
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="ACCESS"/>
<xs:enumeration value="DYNAMIC_AUTO"/>
<xs:enumeration value="DYNAMIC_DESIRABLE"/>
<xs:enumeration value="TRUNK"/>
<xs:enumeration value="DOT1Q_TUNNEL"/>
<xs:enumeration value="DMTF_RESERVED1"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="operationalVLANTrunkEncapsulation">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="OTHER"/>
<xs:enumeration value="NOT_APPLICABLE"/>
<xs:enumeration value="_802_1Q"/>
<xs:enumeration value="CISCO_ISL"/>
<xs:enumeration value="NEGOTIATING"/>
<xs:enumeration value="DMTF_RESERVED"/>
<xs:enumeration value="VENDOR_RESERVED"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="CapabilityException" type="tns:CapabilityException"/>
<xs:complexType name="CapabilityException">
<xs:sequence>
<xs:element name="capabilityDescriptor" nillable="true" type="tns:capabilityDescriptor"/>
<xs:element name="resourceInformation" nillable="true" type="tns:information"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeInterfacesFromLogicalRouter">
    <wsdl:part element="tns:removeInterfacesFromLogicalRouter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSubInterface">
    <wsdl:part element="tns:createSubInterface" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upPhysicalInterfaceResponse">
    <wsdl:part element="tns:upPhysicalInterfaceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addInterfacesToLogicalRouter">
    <wsdl:part element="tns:addInterfacesToLogicalRouter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upPhysicalInterface">
    <wsdl:part element="tns:upPhysicalInterface" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLogicalRouterResponse">
    <wsdl:part element="tns:createLogicalRouterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CapabilityException">
    <wsdl:part element="tns:CapabilityException" name="CapabilityException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downPhysicalInterfaceResponse">
    <wsdl:part element="tns:downPhysicalInterfaceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubInterfaceResponse">
    <wsdl:part element="tns:deleteSubInterfaceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEncapsulation">
    <wsdl:part element="tns:setEncapsulation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLogicalRouterResponse">
    <wsdl:part element="tns:deleteLogicalRouterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEncapsulationResponse">
    <wsdl:part element="tns:setEncapsulationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubInterface">
    <wsdl:part element="tns:deleteSubInterface" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addInterfacesToLogicalRouterResponse">
    <wsdl:part element="tns:addInterfacesToLogicalRouterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEncapsulationLabelResponse">
    <wsdl:part element="tns:setEncapsulationLabelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeInterfacesFromLogicalRouterResponse">
    <wsdl:part element="tns:removeInterfacesFromLogicalRouterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downPhysicalInterface">
    <wsdl:part element="tns:downPhysicalInterface" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLogicalRouter">
    <wsdl:part element="tns:deleteLogicalRouter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEncapsulationLabel">
    <wsdl:part element="tns:setEncapsulationLabel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSubInterfaceResponse">
    <wsdl:part element="tns:createSubInterfaceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLogicalRouter">
    <wsdl:part element="tns:createLogicalRouter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IChassisCapabilityService">
    <wsdl:operation name="createLogicalRouter">
      <wsdl:input message="tns:createLogicalRouter" name="createLogicalRouter">
    </wsdl:input>
      <wsdl:output message="tns:createLogicalRouterResponse" name="createLogicalRouterResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setEncapsulationLabel">
      <wsdl:input message="tns:setEncapsulationLabel" name="setEncapsulationLabel">
    </wsdl:input>
      <wsdl:output message="tns:setEncapsulationLabelResponse" name="setEncapsulationLabelResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSubInterface">
      <wsdl:input message="tns:createSubInterface" name="createSubInterface">
    </wsdl:input>
      <wsdl:output message="tns:createSubInterfaceResponse" name="createSubInterfaceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addInterfacesToLogicalRouter">
      <wsdl:input message="tns:addInterfacesToLogicalRouter" name="addInterfacesToLogicalRouter">
    </wsdl:input>
      <wsdl:output message="tns:addInterfacesToLogicalRouterResponse" name="addInterfacesToLogicalRouterResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="upPhysicalInterface">
      <wsdl:input message="tns:upPhysicalInterface" name="upPhysicalInterface">
    </wsdl:input>
      <wsdl:output message="tns:upPhysicalInterfaceResponse" name="upPhysicalInterfaceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downPhysicalInterface">
      <wsdl:input message="tns:downPhysicalInterface" name="downPhysicalInterface">
    </wsdl:input>
      <wsdl:output message="tns:downPhysicalInterfaceResponse" name="downPhysicalInterfaceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSubInterface">
      <wsdl:input message="tns:deleteSubInterface" name="deleteSubInterface">
    </wsdl:input>
      <wsdl:output message="tns:deleteSubInterfaceResponse" name="deleteSubInterfaceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteLogicalRouter">
      <wsdl:input message="tns:deleteLogicalRouter" name="deleteLogicalRouter">
    </wsdl:input>
      <wsdl:output message="tns:deleteLogicalRouterResponse" name="deleteLogicalRouterResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeInterfacesFromLogicalRouter">
      <wsdl:input message="tns:removeInterfacesFromLogicalRouter" name="removeInterfacesFromLogicalRouter">
    </wsdl:input>
      <wsdl:output message="tns:removeInterfacesFromLogicalRouterResponse" name="removeInterfacesFromLogicalRouterResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setEncapsulation">
      <wsdl:input message="tns:setEncapsulation" name="setEncapsulation">
    </wsdl:input>
      <wsdl:output message="tns:setEncapsulationResponse" name="setEncapsulationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CapabilityException" name="CapabilityException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChassisCapabilityServiceSoapBinding" type="tns:IChassisCapabilityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createLogicalRouter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createLogicalRouter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createLogicalRouterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setEncapsulationLabel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setEncapsulationLabel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setEncapsulationLabelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSubInterface">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createSubInterface">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createSubInterfaceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addInterfacesToLogicalRouter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addInterfacesToLogicalRouter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addInterfacesToLogicalRouterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="upPhysicalInterface">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="upPhysicalInterface">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="upPhysicalInterfaceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downPhysicalInterface">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downPhysicalInterface">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downPhysicalInterfaceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSubInterface">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteSubInterface">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSubInterfaceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteLogicalRouter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteLogicalRouter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteLogicalRouterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeInterfacesFromLogicalRouter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeInterfacesFromLogicalRouter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeInterfacesFromLogicalRouterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setEncapsulation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setEncapsulation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setEncapsulationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CapabilityException">
        <soap:fault name="CapabilityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChassisCapabilityService">
    <wsdl:port binding="tns:ChassisCapabilityServiceSoapBinding" name="ChassisCapabilityPort">
      <soap:address location="http://localhost:8182/cxf/chassisCapabilityService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>